@import url(bootstrap.min.css);

.one-clear{ position: relative; clear: both; float: none !important;}
.one-clear:after {position: relative; clear: both;}
.one-clear:before {position: relative; clear: both;}
.one-left{ position: relative; float: left;}
.one-right{position: relative; float: right;}
.btns{ position: relative; width: 50px; height: 20px; background: #afafaf;}
.content-wrapper{
    position: relative; clear: both; width: 100%; height: 100%;
}
.popup{
    position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 100; 
    display: none; background: rgba(0,0,0,0.4);    
}
.btn-close{
    position: absolute; width: 36px; height: 36px; top: 0; right: 0; z-index: 100;
    background: #eaeaea;
}
.mct{
    position: relative; float: left;
}
#main-content{
    position: relative;float: left; width: 100%;
    height: 400px; background: #f7f7f7;
}






