<div class="question-wrapper one-clear">
<%
_.each(data,function(item){
%>
<div class="one-clear">
    <input id="qs-check-<%- item.attributes.id %>" class="qs-check" type="checkbox" name="<%- item.attributes.id %>" value="1" /><span><%- item.attributes.text %></span>
</div>

<%
});
%>
<div class="one-clear">
    <input class="qs-other" type="text" name="other"/>
</div>
</div>
<div class="button one-clear btn btn-default">Vote</div>
<div class="popup">
    <div class="box">
        <div class="canvas-wrapper">
            <canvas width="300" height="300"></canvas>
        </div>
    </div>
</div>