@import url('bootstrap.min.css');
body{
    /*background: url(../images/bg/pick_bg.jpg) repeat-x 0 50px fixed;*/
    background: #ffffff !important;
}

#admin{
    position: relative; width: 100%;    
    color: #363636;
    /*background: url(../images/menu_bg.jpg) repeat-y top left;*/
}

#admin #header{	
	height: 45px; text-shadow: 1px 0 0 #666666; z-index: 49; -moz-box-shadow: 0px 2px 15px #333333;
	-webkit-box-shadow: 0px 2px 15px #333333; box-shadow: 0px 2px 15px #333333; color: #bbbbbb;
	/*filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#999999');*/
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#aaaaaa')";
        min-height: 45px; background: #000000 url(../images/top_bgrepeat.jpg) repeat-x;
}
#admin #header #site-title{
    position: relative; float: left; display: block; height: 100%; 
    font-size: 20px; color: #ffffff; line-height: 44px; margin-left: 20px; 
}
#admin #header ul{
	margin:0; padding:0;
}
#admin #header ul li{
	list-style:none;
}
#admin #header > ul > li{
	position:relative; float:left; border-left: 1px #333333 solid; padding: 0 10px; cursor: pointer;
	height: 45px; line-height: 43px; float: left;
}
#admin #header ul.subnav{
	display: none; position: absolute; top: 60px; z-index: 40; list-style: none; width: 158px; padding: 0;
	box-shadow: 0px 0px 5px #000000; -webkit-transition: all .3s ease; -moz-transition: all .3s ease;
	-o-transition: all .3s ease; -ms-transition: all .3s ease; transition: all .3s ease;*opacity: 0;
	border: 1px #000000 solid; border-top: none; margin-left: -62px; border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; background:rgba(0,0,0,0.86); opacity:0;
	-webkit-transform:translate3d(0,16px,0);-o-transform:translate3d(0,20px,0); transform:translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0); -ms-transform: translate3d(0,20px,0);
}
#admin #header ul.subnav.ani{
	opacity:1; 
	-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0); transform:translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);
}
#admin #header ul.subnav:before {
	background-image: url(../images/subnav-top.png); background-repeat: no-repeat;
	position: absolute; top: -9px; left: 0px; content: "\0020"; display: block; width: 158px; height: 17px;
}
#admin #header ul.subnav li {
	position:relative; float:none; clear:both; display: block; border-left: none!important;
	padding: 0!important; margin:0; height: 36px; text-align:center; line-height:32px;
}
#admin #header ul.subnav li:last-child,#admin #header ul.subnav li:first-child{
	height: 42px; line-height:38px;
}
#admin #header ul.subnav li:hover{
	background:#111111; color: #fafafa;
}
#admin #header ul.subnav li > a{
	position: relative; display: block; width: 100%; height: 100%; color:#bbbbbb;
}
#admin #header ul.subnav li:hover > a{
	color:#ffffff; text-decoration:none;
}
/* ------------- Start: Settings animation -------------- */
#admin #header #admin-settings{ padding-right: 46px !important; }
#admin #header #admin-settings #settings{
    position: absolute; width: 36px; height: 36px; top: 4px; right: 4px;  
}
#admin #header #admin-settings #settings #settings-ani{
    position: absolute; width:100%; height: 100%; top: 0; left: 0;
    background: url(../images/icon/settings_icon.png) no-repeat center center;
    -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease; -ms-transition: -ms-transform 1s ease;
    transition: transform 1s ease;
}
#admin #header #admin-settings #settings #settings-ani.ani{
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#admin #header #admin-settings #settings.active{
    -webkit-transition: all .3s ease; -moz-transition: all .3s ease;
	-o-transition: all .3s ease; -ms-transition: all .3s ease; transition: all .3s ease;
}


/* ------------- End: Settings animation -------------- */

#admin #main-content{
	position:relative; margin-top: 45px; min-height: 1000px; overflow: hidden;        
        background: url(../images/menu_bg.jpg) top left;	
}
#admin #main-content > div{
	position:relative; float:left; margin:0; padding:0; 
}
#admin #main-content #left-cnt{
	width:16%; min-height: inherit; height: inherit;        
}
#admin #main-content #right-cnt{
	width:84%; overflow: hidden; min-height: inherit;
        background: url(../images/bg/pick_bg.jpg) repeat-x 0 0px #ffffff;        
}


/* --------------------------Start: Menu left ------------------------*/
#admin #left-cnt > ul{
	position:relative; margin:0; padding:0; width: 100%;
}
#admin #left-cnt > ul > li{
	position:relative; clear:both; border-bottom: 1px solid #212123; border-top: 1px solid #3f3f42; list-style:none;
	/*background: url(../images/menu_bg.jpg) no-repeat;*/ display: block;
}
#admin #left-cnt > ul > li:hover{
    border-top:1px solid rgba(0,0,0,0.7);
}
#admin #left-cnt  > ul > li > a{
	position:relative; display:block; clear:both; padding:15px 0 15px 40px;
        text-decoration: none; color: #cccccc;
        
}
#admin #left-cnt  > ul > li > a:hover{
    color:#ffffff;background-color: rgba(0,0,0,0.4); 
}
#admin #left-cnt > ul > li > span{
    position: absolute; top: 14px; left: 15px;
}

/* --------------------------End: Menu left ------------------------*/

/* --------------------------Start: Menu right ------------------------*/
#admin #right-cnt #inner{
	width:96%; margin:0 auto; min-height:400px; margin-top: 40px;
}
#admin #inner #hor-menu{
    width:400px; height:80px;
}
#admin #inner #hor-menu > div{
    position: relative; float: left; width: 25%; height: 100%; 
}
#admin #inner #hor-menu > div a {
    display: block; width: 100%; padding: 0px 15px 10px 15px; color: #4c535b;
    text-shadow: 0 1px 0 #ffffff; text-align: center; font-size: 12px; margin-top: 10px;
    -webkit-transition: margin-top 0.3s ease-out;
}
#admin #inner #hor-menu > div a:hover {    
    margin-top: 0px; text-decoration: none;
}
#admin #inner #table-dashboard{
    min-height: 400px;    
}
#admin #table-dashboard .widget{
    box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
    -ms-box-sizing: border-box; border: 1px solid #ccc; background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
#admin #table-dashboard .widget #wig_title{
    height: 40px; border-bottom: 1px solid #ccc; 
    background: -moz-linear-gradient(top, #ffffff 19%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffffff), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 19%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 19%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 19%, #ededed 100%);
    background: linear-gradient(top, #ffffff 19%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
#admin #table-dashboard .widget #wig_title span {
display: block; font-size: 12px; font-weight: bold; padding: 11px 0 0 10px; float: left;
}
#admin #table-dashboard .widget #wig_content span i{
    margin-right: 5px;
}
#admin #table-dashboard .widget #wig_content{
    min-height: 300px;
}

#admin #table-dashboard #widget-1{
    
}

/* --------------------------End: Menu right ------------------------*/